.postSpace {
    float: left;
    width: 75%;
    margin-left: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.card {
    background-color: white;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 2px;
}

.content {
    background-color: #EAE7E7;
    width: 127%;
    padding: 3px;
    margin-bottom: 5px;
}

#border2 {
    border: 1px dashed #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 3px;
    width: 60%;
    width: 127%;
}

#border1 {
    border: 1.5px solid;
    margin-bottom: 10px;
    width: 60%;
}

#padding1 {
    padding-left: 3px;
}
