@model IEnumerable<WebApplication1.Models.Post>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p.ridge 
    {
        border-style: ridge;
    }
</style>

<h1>Home Page</h1>

@foreach (var post in Model)
{
<center>
    <p class="ridge">
        <font size="6">@post.Title</font>
        <br />
        <br />
        <font size="4">@post.Content</font>
        <br />
        <font size="2">@post.Posted</font>
        <br />
        <button type="button"><a asp-area="" asp-controller="Comments" asp-action="Create">Add Comment</a></button>
    </p>
    <br />
</center>
}
